<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
    <title>Job List</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        #btnAdd{
        width: 100%;
        }
        #btnDetail{
        width: 100%;
        }
        #btnDelete{
        width: 100%;
        }
    </style>

</head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Job Title</th>
        <th scope="col">Job Description</th>
        <th scope="col">Needed People(#)</th>
        <th scope="col">Last Application Date</th>
        <th scope="col" colspan="2">
                <button id="btnAdd" type="button" class="btn btn-info" onclick="location.href='/hr/jobs/add'">Add New Job</button>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr th:if="${jobs.empty}">
            <td colspan="6"> No Jobs Available </td>
        </tr>
        <tr th:each="job,iter : ${jobs}">
            <th scope="row"><span th:text="${iter.index}"> Index </span></th>
                <td><span th:text="${job.jobTitle}"> Job Title </span></td>
                <td><span th:text="${job.jobDescription}"> Job Description </span></td>
                <td><span th:text="${job.peopleAmount}"> People Amount </span></td>
                <td><span th:text="${job.lastDate}"> Last Date </span></td>
            <td>
                <button id="btnDetail" type="submit" class="btn btn-primary btn-sm">Job Details</button>
            </td>
            <td>
                <form id="formDelete" th:action="@{/hr/jobs/list}" method="post">
                    <input type="hidden" name="id" th:value="${job.id}"/>
                    <button id="btnDelete" type="submit" class="btn btn-danger btn-sm">Delete Job</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>